/*

pages (earth style)

*/

/* Pages classes ----> */

.page_item a, .menu-item a {
	color: #555;
	text-decoration: none;
}

.page_item a:hover, .menu-item a:hover {
	color: #0080BC;
}

#rap #pages {
	background-color: #f5deb3;
	border:7px solid #fff;
	margin-left:27px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding:0;
}

#pages_subcont {
	padding:10px 30% 25px 5%;
	border:1px solid #a9d6ff;
}

#mainmenu > li.menu-item ,
#mainmenu > li.page_item{
	background: transparent url("../images/earth/pages_sep.png") right center no-repeat;
}
.current_page_ancestor .hiraquo,
.current-menu-ancestor .hiraquo {
	color: #0080BC;
}

/* <---- Pages classes */
