/*

pages (water style)

*/

/* Pages classes ----> */

.page_item a, .menu-item a {
	color: #0080BC;
	text-decoration: none;
}

.page_item a:hover, .menu-item a:hover {
	color: #d54e21;
}

#pages {
	background: transparent url("../images/water/head.png") left top repeat;
	border-top:1px solid #fff;
	border-bottom:1px solid #777;
}

#mainmenu > li.menu-item ,
#mainmenu > li.page_item{
	background: transparent url("../images/water/pages_sep.png") right center no-repeat;
}
.current_page_ancestor .hiraquo,
.current-menu-ancestor .hiraquo {
	color: #d54e21;
}

/* <---- Pages classes */
