/*

pages (fire style)

*/

/* Pages classes ----> */

.menu-item a {
	color: #87CEFA;
	text-decoration: none;
}

.menu-item a:hover {
	color: #d54e21;
}

#pages {
	background: transparent url("../images/fire/head.png") left top repeat;
	border-bottom:1px solid #888888;
	border-top:1px solid #333333;
}

#mainmenu > li.menu-item {
	background: transparent url("../images/fire/pages_sep.png") right center no-repeat;
}

/* <---- Pages classes */
