/*

popup (water style)

*/

.children a, .sub-menu a, .fw_pul a {
	color: #87CEFA;
	text-decoration: none;
}

.children a:hover, .sub-menu a:hover, .fw_pul a:hover {
	color: #fff;
}
.current_page_item > a,
.current-menu-item > a,
.current-cat > a {
	color: #fff;
}

.footer_wig .fw_pul{
	color: #ccc;
	padding: 10px;
	border-color:#fff;
	border-style:double;
	border-width:3px;
	background: #0080BC url("../images/water/pop.jpg") left top no-repeat;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#mainmenu > li.page_item > ul.children,
#mainmenu > li.menu-item > ul.sub-menu {
	border:3px double #fff;
	background: #0080BC url(../images/water/pop.jpg) left top no-repeat;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ccc;
}

#mainmenu ul.sub-menu, #mainmenu ul.children {
	margin:0px;
	padding:0px;
}