/*

popup (water style)

*/

.sub-menu a, .fw_pul a {
	color: #87CEFA;
	text-decoration: none;
}

.sub-menu a:hover, .fw_pul a:hover {
	color: #ffffff;
}

.footer_wig ul{
	color: #cccccc;
	padding: 10px;
	border-color:#ffffff;
	border-style:double;
	border-width:3px;
	background: #0080BC url("../images/water/pop.jpg") left top no-repeat;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#mainmenu > li.menu-item > ul.sub-menu {
	border:3px double #ffffff;
	background: #0080BC url(../images/water/pop.jpg) left top no-repeat;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #cccccc;
}

#mainmenu ul.sub-menu, #mainmenu ul.children {
	margin:0px;
	padding:0px;
}

.sub-menu li {
	padding-top:5px;
	margin-left:10px;
}
