/*

popup (smoke style)

*/

.children a, .sub-menu a, .fw_pul a {
	color: #0080bc;
	text-decoration: none;
}

.children a:hover, .sub-menu a:hover, .fw_pul a:hover {
	color: #fff;
}
.current_page_item > a,
.current-menu-item > a,
.current-cat > a {
	color: #d54e21;
}

.footer_wig .fw_pul{
	color: #aaa;
	padding: 10px;
	background: transparent url('../images/smoke/black_95.png') left top repeat;
	border: 5px solid #222;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
 	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	-khtml-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
}

#mainmenu > li.page_item > ul.children,
#mainmenu > li.menu-item > ul.sub-menu {
	background: transparent url('../images/smoke/black_95.png') left top repeat;
	border: 5px solid #222;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #aaa;
}

#mainmenu ul.sub-menu, #mainmenu ul.children {
	margin:0px;
	padding:0px;
}