/*

quickbar (fire style)

*/

/* Quickbar classes ----> */

#quickbar {
	color: #cccccc;
	margin: 0 0 10px;
	padding: 0;
	bottom: 0;
	height:56px;
	width:100%;
}

#qb_left {
	background: transparent url(../images/fire/qb.png) left -112px no-repeat;
	float:left;
	height:56px;
	margin-left:1%;
	width:2%;
}

#qb_center {
	background: transparent url(../images/fire/qb.png) left top repeat-x;
	float:left;
	height:56px;
	width:83%;
}

#qb_right {
	background: transparent url(../images/fire/qb.png) right -56px no-repeat;
	float:left;
	height:36px;
	width:13%;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}

.footer_wig {
	background:url("../images/fire/menu_sep.png") no-repeat right top transparent;
}

.footer_wig:hover h4{
	color: #ffffff;
}

#avatar_cont {
	margin-top:-46px;
	float:left;
}

/* <---- Quickbar classes */