/*

quickbar (air style)

*/

/* Quickbar classes ----> */

#quickbar {
	background: rgba(20, 20, 20, 0.8) url(../images/smoke/qb.png) left top repeat-x;
	border-bottom: 4px double #fff;
	border-top: 4px double #fff;
	color: #ccc;
	margin: 10px 0 0 0;
	padding: 0;
	bottom: 10px;
	height:54px;
	width:100%;
 	-moz-box-shadow: -10px 0 10px #000;
	-webkit-box-shadow: -10px 0 10px #000;
	-khtml-box-shadow: -10px 0 10px #000;
	box-shadow: -10px 0 10px #000;
}

#qb_right {
	background: transparent url(../images/smoke/grey-s.png) right center no-repeat;
	float:right;
	height:34px;
	width:13%;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}

.footer_wig {
	background:url("../images/smoke/menu_sep.png") no-repeat right top transparent;
}

.footer_wig:hover h4{
	color: #fff;
}

#avatar_cont {
	margin-top:-46px;
	float:left;
}

/* <---- Quickbar classes */
