/*

quickbar (water style)

*/

/* Quickbar classes ----> */

#quickbar {
	background: transparent url(../images/water/qb.png) left top repeat-x;
	color: #555;
	margin: 0 0 10px;
	padding: 0;
	bottom: 0;
	height:63px;
	width:100%;
}

#qb_left {
	float:left;
	height:56px;
	margin-left:1%;
	width:1%;
}

#qb_center {
	float:left;
	height:56px;
	width:81%;
}

#qb_right {
	background: transparent url(../images/air/grey-s.png) right center no-repeat;
	float:right;
	height:36px;
	width:16%;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}

.footer_wig {
	background:url("../images/water/menu_sep.png") no-repeat right top transparent;
}

.footer_wig:hover h4{
	color: #0080BC;
}

#avatar_cont {
	margin-top:-46px;
	float:left;
}

/* <---- Quickbar classes */
