/*

sidebar (air style)

*/

/* Sidebar classes ----> */

#menu a {
	color: #0080bc;
	text-decoration: none;
}

#menu a:hover {
	color: #d54e21;
}

#menu {
	margin-top:-220px;
}

#sidebarbody
{
	padding: 10px 10px 10px 29px;
	background: transparent url('../images/air/graph.png') -1200px top repeat-y;
}

#sidebartop
{
	background: transparent url('../images/air/graph.png') -600px top no-repeat;
	height:25px;
}

#sidebarbottom
{
	background: transparent url('../images/air/graph.png') no-repeat top left;
	height:25px;
}

.searchform {
	border: 1px solid #aaa;
	background: #eee url(../images/air/capt.jpg) left bottom repeat-x;
}

#menu input#s {
	width: 50%;
	background: #eee;
	border: 1px solid #999;
	color: #000;
}

#menu ul {
	color: #333;
}

/* <---- Sidebar classes */


/* Calendar classes ----> */

#calendar_wrap {
	border: 1px solid #aaa;
	background: #eee url(../images/air/capt.jpg) left bottom repeat-x;
}

#wp-calendar caption {
	color: #aaa;
}

#wp-calendar #today {
	background: #aaa;
	color: #fff;
}

#wp-calendar tfoot {
	background: transparent;
}

/* <---- Calendar classes */
