/*

sidebar (fire style)

*/

/* Sidebar classes ----> */

#menu a {
	color: #87CEFA;
	text-decoration: none;
}

#menu a:hover {
	color: #d54e21;
}

#menu {
	margin-top:-220px;
}

#sidebarbody
{
	padding: 10px 10px 10px 18px;
	background: transparent url('../images/fire/graph.png') -1200px top repeat-y;
}

#sidebartop
{
	background: transparent url('../images/fire/graph.png') -600px top no-repeat;
	height:25px;
}

#sidebarbottom
{
	background: transparent url('../images/fire/graph.png') no-repeat top left;
	height:25px;
}

.searchform {
	border: 1px solid #666;
	background: #444;
}


#menu input#s {
	width: 50%;
	background: #eee;
	border: 1px solid #999;
	color: #000;
}

#menu ul {
	color: #333;
}

#menu ul li {
	color:#ddd;
}

/* <---- Sidebar classes */


/* Calendar classes ----> */

#calendar_wrap {
	border: 1px solid #666;
	background-color: #444;
	color:#ccc;
}

#wp-calendar caption {
	color: #999;
}

#wp-calendar #today {
	background-color: #333;
}

#wp-calendar thead {
	background: transparent;
}

#wp-calendar th {
	border:1px solid #555;
}

#wp-calendar tfoot {
	background: transparent;
}

/* <---- Calendar classes */
