/*

genlook (fire style)

*/

/* Common html tags ----> */

a {
	color: #0080BC;
	text-decoration: none;
}

a:hover, .menu-item a:hover, #credits a:hover, #content a:hover, .storytitle a:hover {
	color: #d54e21;
}

blockquote {
	border-left:4px double #ccc;
}

body {
	color: #333;
	background: #912308 url(../images/fire/bg.jpg) left top no-repeat;
}

h2.posts_date {
	border-bottom:1px solid #ccc;
	color:#999;
	font-size:0.9em;
	padding-bottom:3px;
	text-align:right;
	width:105%;
	margin-right: -5%;
}

pre {
	border:1px solid #ddd;
}

table {
	border: 1px solid #999;
	background: #eee url(../images/fire/capt.jpg) left bottom repeat-x;
}

thead {
	background-color:#fff;
}

tfoot {
	background-color:#ddd;
}

th {
	border:1px solid #ccc;
}

fieldset {
	border:1px solid #ccc;
}

legend {
	color: #ccc;
}

/* <---- Common html tags */


/* Post classes ----> */

.post ul li {
	border-left:4px solid #333;
}

.meta {
	color: #808080;
}

.storytitle a {
	color: #333;
}

.sticky {
	background:url("../images/fire/sticky.png") repeat scroll 0 0 transparent;
	border:1px solid #87CEFA;
	padding:5px;
}

/* <---- Post classes */


/* Comment classes ----> */

.comment:hover  {
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}

.comment, .trackback , .pingback  {
	background: transparent url('../images/fire/comfade.png') top left repeat-y;
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid transparent;
}

.bypostauthor {
	background: transparent url('../images/fire/auth_comfade.png') top left repeat-y;
}

.comment {
	border-left:3px solid #888;
}

.trackback , .pingback {
	border-left:3px solid #ddd;
}

.feedback {
	color: #808080;
	text-align: right;
	clear: both;
}

.comment_tools {
	background-color:#fff;
	border:1px solid #999;
}

/* <---- Comment classes */


/* Other classes ----> */

#header {
	color:#fff;
}

#header h1 {
	margin: 0;
	font-size:4em;
	text-shadow:2px 2px 5px #000;
}

#header a {
	color: #fff;
}

#content {
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color:#F6F6F6;
	border:1px solid #333;
}

#nav_pages {
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

#credits {
	border-top:1px solid #E8A403;
	float:left;
	padding-bottom:100px;
	text-align:right;
	width:99%;
	color: #ccc;
	padding-right: 1%;
}

.intr {
	color: #ccc;
}

/* <---- Other classes */


/* Captions & aligment ----> */

.wp-caption {
	border: 1px solid #999;
	background:#eee url(../images/fire/capt.jpg) left bottom repeat-x;
}

/* <---- Captions & aligment */
