/*

genlook (air style)

*/

/* Common html tags ----> */

a {
	color: #0080bc;
	text-decoration: none;
}

a:hover, .menu-item a:hover, #credits a:hover {
	color: #d54e21;
}

blockquote {
	border-left:6px double #fff;
}

body {
	color: #333;
	background: #e2e2e2 url(../images/air/bg.jpg) left top no-repeat;
}

h2.posts_date {
	border-bottom:2px groove #fff;
	color:#666;
	font-size:0.9em;
	padding-bottom:3px;
	text-align:right;
	width:105%;
	margin-right: -5%;
}

pre {
	border:1px solid #f4f4f4;
}

/* table elements*/
table {
	border: 1px solid #aaa;
	background: #eee url(../images/air/capt.jpg) left bottom repeat-x;
}

thead {
	background-color:#fff;
}

tfoot {
	background-color:#ddd;
}

th {
	border:1px solid #ccc;
}

fieldset {
	border:1px solid #ccc;
}

legend {
	color: #aaa;
}

/* <---- Common html tags */


/* Post classes ----> */

.post ul li {
	border-left:4px solid #333;
}

.meta {
	color: #808080;
}

.storytitle a {
	color: #333;
}

.storytitle a:hover {
	color: #d54e21;
}

.sticky {
	background:url("../images/air/sticky.png") repeat scroll 0 0 transparent;
	border:1px solid #87CEFA;
	padding:5px;
}

/* <---- Post classes */


/* Comment classes ----> */

.comment:hover  {
	border-top:1px solid #eee;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
}

.comment, .trackback , .pingback  {
	background: transparent url('../images/air/comfade.png') top left repeat-y;
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid transparent;
}

.bypostauthor {
	background: transparent url('../images/air/auth_comfade.png') top left repeat-y;
}

.comment {
	border-left:3px solid #888;
}

.trackback , .pingback {
	border-left:3px solid #F4F4F4;
}

.feedback {
	color: #808080;
	text-align: right;
	clear: both;
}

.comment_tools {
	background-color:#f4f4f4;
	border:1px solid #aaa;
}

/* <---- Comment classes */


/* Other classes ----> */

#header {
	color:#fff;
}

#header h1 {
	margin: 0;
	font-size:4em;
	text-shadow:2px 2px 5px #000;
}

#header .description {
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000,offX=1,offY=1);
}

#header a {
	color: #fff;
}

#nav_pages {
	padding-top: 5px;
	border-top:2px groove #fff;
}

#credits {
	border-top:2px groove #fff;
	float:left;
	padding-bottom:100px;
	text-align:center;
	width:100%;
}

.intr {
	color: #ccc;
}

/* <---- Other classes */


/* Captions & aligment ----> */

.wp-caption {
	border: 1px solid #aaa;
	background:#eee url(../images/air/capt.jpg) left bottom repeat-x;
}

/* <---- Captions & aligment */
