.stylediv {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#F5F5F5;
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	max-width:800px;
	padding:0 10px 10px;
}
.stylediv h3 {
	-moz-border-radius:10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background:none repeat scroll 0 0 #F0F0F0;
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #FFFFFF;
	color:#404040;
	font-size:1em;
	margin:0 -10px;
	padding:5px 10px;
	text-shadow:1px 1px 0 #FFFFFF;
}
#stylesubdiv {
	position: relative;
}
#wallow_options_select {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #FFFFFF; 
	border: 1px solid #DFDFDF; 
}
#wallow_options_select p {
	font-weight:bold; 
	text-shadow:0 1px 0 #FFFFFF; 
	margin: 0; 
	color: #464646; 
	padding: 0 5px; 
	line-height: 29px; 
	background: url('images/gray-grad.png') repeat-x scroll left top #DFDFDF; 
	-moz-border-radius: 6px 6px 0 0;
	-khtml-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
#wallow_options_select small {
	font-style:italic; 
	line-height: 1.8em; 
	color: #777777; 
	padding-left: 5px;
}
#wallow_options_select > table {
	border-collapse: collapse; 
	margin-bottom: 14px; 
	margin-top: 0; 
	width: 100%; 
	border-top:1px solid #ECECEC; 
	border-bottom:1px solid #ECECEC;
}
#wallow_options_select tr {
	line-height: 1.8em;
}
.ww_opt_p {
	padding: 3px;
	border: 1px solid #DFDFDF;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
#theme_preview {
	background:transparent;
	height:240px;
	position:relative;
	width:320px;
	border: 1px solid;
	-moz-box-shadow: 2px 2px 3px #555555;
	box-shadow: 2px 2px 3px #555555;
	-webkit-box-shadow: 2px 2px 3px #555555;
	-khtml-box-shadow: 2px 2px 3px #555555;
	margin: 0 auto;
}
#tp_wallow_theme_genlook {
	background-position: left top;
	background-repeat: no-repeat;
	height:240px;
	width:320px;
	position:absolute;
	left:0px;
	top:0px;
}
#tp_wallow_theme_pages {
	background-position: left -240px;
	background-repeat: no-repeat;
	height:20px;
	width:320px;
	position:absolute;
	left:0px;
	top:35px;
}
#tp_wallow_theme_quickbar {
	background-position: left -260px;
	background-repeat: no-repeat;
	height:20px;
	width:320px;
	position:absolute;
	left:0px;
	bottom:0px;
}
#tp_wallow_theme_sidebar {
	background-position: right top;
	background-repeat: no-repeat;
	height:215px;
	width:80px;
	position:absolute;
	right:0px;
	top:0px;
}
#tp_wallow_theme_avatar {
	background-position: right -255px;
	background-repeat: no-repeat;
	height:25px;
	width:25px;
	position:absolute;
	left:5px;
	bottom:10px;
}
#tp_wallow_theme_popup {
	background-position: right -218px;
	background-repeat: no-repeat;
	height:30px;
	width:60px;
	position:absolute;
	left:20px;
	top:50px;
}

.fire {
	background-image: url(../images/preview_fire.png);
}
.water {
	background-image: url(../images/preview_water.png);
}
.air {
	background-image: url(../images/preview_air.png);
}
.earth {
	background-image: url(../images/preview_earth.png);
}
.fog {
	background-image: url(../images/preview_fog.png);
}
