.page_item a, .menu-item a {
	color: #555;
	text-decoration: none;
}
.page_item a:hover, .menu-item a:hover {
	color: #0080BC;
}
#main #pages {
	padding:0;
}
#pages-out {
	background: #FFFFFF;
	border-radius: 10px;
	margin: 0 30px;
	padding: 7px;
}
#pages-in {
	border-radius: 7px;
	background-color: #f5deb3;
	padding:10px 28% 10px 30px;
	border:1px solid #a9d6ff;
}
#mainmenu > li.menu-item ,
#mainmenu > li.page_item{
	background: transparent url("../images/earth/pages_sep.png") right center no-repeat;
}
.current_page_ancestor .hiraquo,
.current-menu-ancestor .hiraquo {
	color: #0080BC;
}