#quickbar {
	background: #131313;
	background: -moz-linear-gradient(top,  rgba(19,19,19,1) 0%, rgba(19,19,19,1) 30%, rgba(19,19,19,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(30%,rgba(19,19,19,1)), color-stop(100%,rgba(19,19,19,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(19,19,19,1) 30%,rgba(19,19,19,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(19,19,19,1) 30%,rgba(19,19,19,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(19,19,19,1) 30%,rgba(19,19,19,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(19,19,19,1) 30%,rgba(19,19,19,0.9) 100%); /* W3C */
	border-bottom: 4px double #fff;
	border-top: 4px double #fff;
	color: #ccc;
	margin: 10px 0 0 0;
	padding: 0;
	bottom: 10px;
	height:54px;
	width:100%;
	box-shadow: -10px 0 10px #000;
	left: 0;
}
#qb_right {
	background: transparent url(../images/smoke/grey-s.png) right center no-repeat;
	float:right;
	height:34px;
	width:13%;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}
.footer_wig {
	background:url("../images/smoke/menu_sep.png") no-repeat right top transparent;
}
.footer_wig:hover h4{
	color: #fff;
}
#avatar_cont {
	margin-top:-46px;
	float:left;
}
#micronav .prev a,
#micronav .next a,
#micronav .up a,
#micronav .home a,
#micronav .down a {
	background-image: url(../images/smoke/micronav.png);
}
#micronav {
	background: url(../images/smoke/micronav.png) no-repeat scroll center -96px transparent;
}