/*
genlook (clouds style)
*/
/* Common html tags ----> */
a {
	color: #0080bc;
	text-decoration: none;
}
a:hover, .menu-item a:hover, #credits a:hover {
	color: #666;
}
blockquote {
	border-left:6px double #fff;
}
body {
	color: #444;
	background: #000 url(../images/clouds/bg.jpg) center top repeat-y;
}
h2.posts_date {
	border-bottom:1px solid #666;
	color:#fff;
	font-size:0.9em;
	padding-bottom:3px;
	text-align:right;
}
pre {
	border:1px solid #f4f4f4;
	background-color:#ccc;
}
/* table elements*/
table {
	border: 1px solid #666;
}
thead {
	background-color:#fff;
}
tfoot {
	background-color:#ddd;
}
th {
	border:1px solid #666;
}
fieldset {
	border:1px solid #ccc;
}
legend {
	color: #aaa;
}
code {
	background-color:#ccc;
}
/* <---- Common html tags */
/* Post classes ----> */
.hentry ul li {
	border-left:4px solid #333;
}
.meta {
	color: #808080;
}
.storytitle a {
	color: #0080bc;
}
.storytitle a:hover {
	color: #ccc;
}
.hentry,
.c_list {
	padding:10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=1 ); /* IE6-9 */
	border: 1px solid #fff;
	margin-bottom: 10px;
}
.sticky {
	border: 1px solid #0080BC;
}
/* <---- Post classes */
/* Comment classes ----> */
.comment:hover  {
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.comment, .trackback , .pingback  {
	background: -moz-linear-gradient(left,  rgba(203,203,203,0.6) 0%, rgba(203,203,203,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(203,203,203,0.6)), color-stop(100%,rgba(203,203,203,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(203,203,203,0.6) 0%,rgba(203,203,203,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(203,203,203,0.6) 0%,rgba(203,203,203,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(203,203,203,0.6) 0%,rgba(203,203,203,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(203,203,203,0.6) 0%,rgba(203,203,203,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cbcbcb', endColorstr='#00cbcbcb',GradientType=1 ); /* IE6-9 */
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid transparent;
}
.bypostauthor {
	background: -moz-linear-gradient(left,  rgba(161,214,255,0.2) 0%, rgba(161,214,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(161,214,255,0.2)), color-stop(100%,rgba(161,214,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(161,214,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(161,214,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(161,214,255,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(161,214,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a1d6ff', endColorstr='#00a1d6ff',GradientType=1 ); /* IE6-9 */
}
.comment {
	border-left:3px solid #888;
}
.trackback , .pingback {
	border-left:3px solid #F4F4F4;
}
.feedback {
	color: #808080;
	text-align: right;
	clear: both;
}
.comment_tools,
.nav_pages {
	border:1px solid #0080BC;
	float: none;
	text-align: center;
	background: #eee;
	border-radius: 5px;
	padding: 3px;
}
#commentform textarea {
    width: 99%;
}
/* <---- Comment classes */
/* Other classes ----> */
#header {
	color:#fff;
	padding: 30px 0;
	text-align: center;
}
#header h1 {
	margin: 0;
	font-size:4em;
	text-shadow:2px 2px 5px #000;
}
#header .description {
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000,offX=1,offY=1);
}
#header a {
	color: #fff;
}
#credits {
	border-top:2px groove #fff;
	padding-bottom:100px;
	text-align:center;
	color: #fff;
}
.intr {
	color: #ccc;
}
#content .gallery img {
    border: 1px solid #fff;
    padding: 10px;
}
/* <---- Other classes */
/* Captions & aligment ----> */
.wp-caption {
	position: relative;
	border-radius: 0;
	border:1px solid #888;
}
.wp-caption p.wp-caption-text {
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-9 */
    bottom: 0;
	left:0;
    color: #fff;
    margin: 0;
    padding: 0 0 5px;
    position: absolute;
    width: 100%;
}
.wp-caption:hover p.wp-caption-text {
	display: none;
}

/* <---- Captions & aligment */
.search-reminder {
	color: #fff;
}
#content .tb-author-bio {
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=1 ); /* IE6-9 */
	border: 1px solid #fff;
}

