#pages .children a, .sub-menu a, .fw_pul a {
	color: #0080bc;
	text-decoration: none;
}
#pages .children a:hover, .sub-menu a:hover, .fw_pul a:hover {
	color: #888;
}
.current_page_item > a,
.current-menu-item > a,
.current-cat > a {
	color: #d54e21;
}
.footer_wig .fw_pul{
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #000;
	background: #fff;
	border: 2px solid #ccc;
	color: #666;	
}
#mainmenu > li.page_item > ul.children,
#mainmenu > li.menu-item > ul.sub-menu {
	border-radius: 3px;
	background: #fff;
    border: 2px solid #ccc;
    color: #666;	
	z-index:2;
}
#mainmenu ul.sub-menu, #mainmenu ul.children {
	margin:0px;
	padding:0px;
}
.footer_wig  .tb-author-bio {
	border: 1px solid #aaa;
	background: transparent;
}