#quickbar {
	color: #222;
	margin: 10px 0 0 0;
	padding: 0;
	bottom: 10px;
	height:54px;
	width:96%;
	left:2%;
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	background: rgb(220,220,220);
	background: -moz-linear-gradient(left,  rgba(220,220,220,0.9) 0%, rgba(220,220,220,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(220,220,220,0.9)), color-stop(100%,rgba(220,220,220,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(220,220,220,0.9) 0%,rgba(220,220,220,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(220,220,220,0.9) 0%,rgba(220,220,220,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(220,220,220,0.9) 0%,rgba(220,220,220,0.9) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(220,220,220,0.9) 0%,rgba(220,220,220,0.9) 100%); /* W3C */
    border: 1px solid #fff;
}
#qb_right {
	background: transparent url(../images/clouds/grey-s.png) right center no-repeat;
	float:right;
	height:34px;
	width:13%;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}
.footer_wig:hover h4{
	color: #666;
}
.footer_wig h4{
	border-radius: 7px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #0080bc;
    padding: 5px;
}
#avatar_cont {
	margin-top:-46px;
	float:left;
}
#micronav .prev a,
#micronav .next a,
#micronav .up a,
#micronav .home a,
#micronav .down a {
	background-image: url(../images/clouds/micronav.png);
}
#micronav {
	background: url(../images/clouds/micronav.png) no-repeat scroll center -96px transparent;
}