/*
genlook (air style)
*/
/* Common html tags ----> */
a {
	color: #0080bc;
	text-decoration: none;
}
a:hover, .menu-item a:hover, #credits a:hover {
	color: #d54e21;
}
blockquote {
	border-left:6px double #fff;
}
body {
	color: #333;
	background: #e2e2e2 url(../images/air/bg.jpg) left top no-repeat;
}
h2.posts_date {
	border-bottom:2px groove #fff;
	color:#666;
	font-size:0.9em;
	padding-bottom:3px;
	text-align:right;
}
pre {
	border:1px solid #f4f4f4;
}
/* table elements*/
table {
	border: 1px solid #aaa;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 0%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 0%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 0%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(top,  #efefef 0%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
}
thead {
	background-color:#fff;
}
tfoot {
	background-color:#ddd;
}
th {
	border:1px solid #ccc;
}
fieldset {
	border:1px solid #ccc;
}
legend {
	color: #aaa;
}
/* <---- Common html tags */
/* Post classes ----> */
.post ul li {
	border-left:4px solid #333;
}
.meta {
	color: #808080;
}
.storytitle a {
	color: #333;
}
.storytitle a:hover {
	color: #d54e21;
}
.sticky {
	background: -moz-linear-gradient(top,  rgba(201,238,255,0.1) 0%, rgba(201,238,255,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,238,255,0.1)), color-stop(100%,rgba(201,238,255,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,238,255,0.1) 0%,rgba(201,238,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,238,255,0.1) 0%,rgba(201,238,255,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,238,255,0.1) 0%,rgba(201,238,255,0.1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(201,238,255,0.1) 0%,rgba(201,238,255,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac9eeff', endColorstr='#1ac9eeff',GradientType=0 ); /* IE6-9 */
	border:1px solid #87CEFA;
	padding:5px;
}
/* <---- Post classes */
/* Comment classes ----> */
.comment:hover  {
	border-top:1px solid #eee;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
}
.comment, .trackback , .pingback  {
	background: -moz-linear-gradient(left,  rgba(128,128,128,0.2) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(128,128,128,0.2)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(128,128,128,0.2) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(128,128,128,0.2) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(128,128,128,0.2) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(128,128,128,0.2) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33808080', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid transparent;
}
.bypostauthor {
	background: -moz-linear-gradient(left,  rgba(161,214,255,0.2) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(161,214,255,0.2)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(161,214,255,0.2) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a1d6ff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
.comment {
	border-left:3px solid #888;
}
.trackback , .pingback {
	border-left:3px solid #F4F4F4;
}
.feedback {
	color: #808080;
	text-align: right;
	clear: both;
}
.comment_tools {
	background-color:#f4f4f4;
	border:1px solid #aaa;
}
/* <---- Comment classes */
/* Other classes ----> */
#header {
	color:#fff;
}
#header h1 {
	margin: 0;
	font-size:4em;
	text-shadow:2px 2px 5px #000;
}
#header .description {
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000,offX=1,offY=1);
}
#header a {
	color: #fff;
}
.nav_pages {
	padding-top: 5px;
	border-top:2px groove #fff;
}
#credits {
	border-top:2px groove #fff;
	padding-bottom:100px;
	text-align:center;
}
.intr {
	color: #ccc;
}
/* <---- Other classes */
/* Captions & aligment ----> */
.wp-caption {
	border: 1px solid #aaa;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 0%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 0%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 0%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(top,  #efefef 0%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
}
/* <---- Captions & aligment */
.tb-author-bio {
	border: 2px groove #fff;
	background: transparent;
}