.page_item a, .menu-item a {
	color: #fff;
	text-decoration: none;
}
.page_item a:hover, .menu-item a:hover {
	color: #d54e21;
}
#pages {
	background: -moz-linear-gradient(top,  rgba(87,154,209,0.8) 0%, rgba(87,154,209,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,154,209,0.8)), color-stop(100%,rgba(87,154,209,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(87,154,209,0.8) 0%,rgba(87,154,209,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(87,154,209,0.8) 0%,rgba(87,154,209,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(87,154,209,0.8) 0%,rgba(87,154,209,0.8) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(87,154,209,0.8) 0%,rgba(87,154,209,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc579ad1', endColorstr='#cc579ad1',GradientType=0 ); /* IE6-9 */
}
#mainmenu > li.menu-item ,
#mainmenu > li.page_item {
	border-right:1px solid #aaa;
}
.current_page_ancestor .hiraquo,
.current-menu-ancestor .hiraquo {
	color: #d54e21;
}