.page_item a, .menu-item a {
	color: #87CEFA;
	text-decoration: none;
}
.page_item a:hover, .menu-item a:hover {
	color: #d54e21;
}
#pages {
	background: #404040; /* Old browsers */
	background: -moz-linear-gradient(top,  #404040 0%, #6c6c6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#6c6c6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #404040 0%,#6c6c6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #404040 0%,#6c6c6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #404040 0%,#6c6c6c 100%); /* IE10+ */
	background: linear-gradient(top,  #404040 0%,#6c6c6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#6c6c6c',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #888;
	border-top:1px solid #333;
}
#mainmenu > li.menu-item ,
#mainmenu > li.page_item{
	background: transparent url("../images/fire/pages_sep.png") right center no-repeat;
}
.current_page_ancestor .hiraquo,
.current-menu-ancestor .hiraquo {
	color: #d54e21;
}