a {
	color: #fff;
	text-decoration: none;
}
a:hover, .menu-item a:hover, #credits a:hover, #content a:hover, .storytitle a:hover {
	color: #D54E21;
}
blockquote {
	border-left:4px double #fff;
}
body {
	color: #333;
	background: #43a4ff url(../images/water/bg.jpg) left top no-repeat;
}
h2.posts_date {
	border-bottom:1px solid #5fb6ff;
	color:#CFE9FF;
	font-size:0.9em;
	padding-bottom:3px;
	text-align:right;
}
pre {
	border:1px solid #5FB6FF;
}
table {
	background-color:#A9D6FF;
	border:3px double #fff;
}
thead {
	background-color:#CFE9FF;
}
tfoot {
	background-color:#CFE9FF;
}
fieldset {
	border:1px solid #5fb6ff;
}
legend {
	color: #CFE9FF;
}
/* <---- Common html tags */
/* Post classes ----> */
.post ul li {
	border-left:4px solid #333;
}
.storytitle  {
	border-bottom:3px double #CFE9FF;
	margin:0 0 3px;
}
.meta {
	background: -moz-linear-gradient(left,  rgba(30,144,255,1) 0%, rgba(30,144,255,0) 60%, rgba(30,144,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,144,255,1)), color-stop(60%,rgba(30,144,255,0)), color-stop(100%,rgba(30,144,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e90ff', endColorstr='#001e90ff',GradientType=1 ); /* IE6-9 */
	color:#CFE9FF;
	padding:4px;
}
.storytitle a {
	color: #333;
}
.sticky {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
	border:1px solid #b4e1fe;
	padding:5px;
}
/* <---- Post classes */
/* Comment classes ----> */
.comment:hover  {
}
.comment, .trackback , .pingback  {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.2)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	border-top:1px solid #4dadff;
	border-right:1px solid #4dadff;
	border-bottom:1px solid #4dadff;
}
.bypostauthor {
	background: -moz-linear-gradient(left,  rgba(30,144,255,1) 0%, rgba(30,144,255,0) 60%, rgba(30,144,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,144,255,1)), color-stop(60%,rgba(30,144,255,0)), color-stop(100%,rgba(30,144,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e90ff', endColorstr='#001e90ff',GradientType=1 ); /* IE6-9 */
}
.comment {
	border-left:3px solid #0083F2;
}
.trackback , .pingback {
	border-left:3px solid #0060AA;
}
.feedback {
	color: #808080;
	text-align: right;
	clear: both;
}
.comment_tools {
	background-color:#5FB6FF;
	border:1px solid #fff;
	background-image: none;
}
/* <---- Comment classes */
/* Other classes ----> */
#header {
	color:#333;
}
#header h1 {
	margin: 0;
	font-size:4em;
	text-shadow:3px 3px 5px #DDFFFF;
	filter: dropshadow(color=#ffffff,offX=3,offY=3);
}
#header .description {
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#ffffff,offX=1,offY=1);
}
#header a {
	color: #333;
}
#credits {
	border-top:3px double #fff;
	padding-bottom:100px;
	text-align:right;
	color: #CFE9FF;
	padding-right: 1%;
}
.intr {
	color: #ccc;
}
.nav_pages {
	padding-top: 10px;
	border-top: 1px solid #5fb6ff;
	color: #5fb6ff;
	width:105%;
}
.nav_pages a {
	background-color:#5FB6FF;
	border:1px solid #fff;
	padding: 3px;
	border-radius: 3px;
}
/* <---- Other classes */
/* Captions & aligment ----> */
.wp-caption {
	border: 3px double #fff;
	background-color: #a9d6ff;
}
.tb-author-bio {
	border: 1px solid #CFE9FF;
	background: -moz-linear-gradient(left,  rgba(30,144,255,1) 0%, rgba(30,144,255,0) 60%, rgba(30,144,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,144,255,1)), color-stop(60%,rgba(30,144,255,0)), color-stop(100%,rgba(30,144,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(30,144,255,1) 0%,rgba(30,144,255,0) 60%,rgba(30,144,255,0) 100%); /* W3C */
}